form#search{
  display        : flex;
  justify-content: center;
  width          : 80%;
  min-width      : 376px;
  max-width      : 676px;

  input.search__field{
    width             : calc(100% - 100px);
    padding           : 10px;
    border            : 2px solid #AB41C1;
    border-right-width: 0px;
    background-color  : #fefefe;
    font-size         : 16px;
  }

  button.search__button{
    border-width    : 0px;
    height          : 100%;
    height :52px;
    width           : 52px;
    color           : #fff;
    background-image: url('images/search.gif');
    background-size : cover;
    cursor          : pointer;
  }
}
