header.header{
  display        : flex;
  justify-content: center;

  img.header__logo{
    display  : block;
    width    : 75%;
    min-width: 376px;
    max-width: 676px;
    padding  : 1.2rem;
  }
}

main.giphy{
  display        : flex;
  justify-content: center;
  margin         : 1.2rem;

  form.search{
    display        : flex;
    justify-content: center;
    width          : 80%;
    min-width      : 376px;
    max-width      : 676px;

    input.search__field{
      width: calc(100% - 100px);
      padding: .9rem;
      border: 2px solid #AB41C1;
      border-right-width: 0px;
      font-size: 16px;
    }

    button.search__button{
      padding: .9rem;
      border-width: 0px;
      height: 100%;
      width: 52px;
      color: #fff;
      background-image: url('images/search.gif');
      background-size: cover;
      cursor: pointer;

      &:hover{
        background-color: rgb(191, 73, 214);
      }
    }
  }
}

footer.footer{
  p.footer__copyright{
    text-align: center;
  }

  a{
    color: #AB41C1;
  }
}
